---
layout: page
title: Blog on Engineering, Product Management, Culture and many more...
excerpt: "Blog on Engineering, Product Management, Culture and many more..."
search_omit: true
tags: ['Ruby', 'Rails', 'Ruby on Rails', 'Nodejs', 'JavaScript', 'ReactJs', 'Angular']
image:
  feature: blog-home-header.jpeg
page_header_1: "CodeMyntra Blog"
page_header_2: "Blog on Engineering, Ecosystem around Development, Culture and many more..."
---

<ul class="post-list">
{% for post in site.posts limit:10 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>
