<header class="masthead">
  <div class="navigation-wrapper group">
    <nav role="navigation" id="site-nav" class="animated drop">
        <div class="logo">
            <a href="{{ site.url }}">
                AgileCaterpiller Blog
            </a>

        </div>
        <ul>
        {% for link in site.data.navigation %}
          {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = site.url %}
          {% endif %}
          <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
        {% endfor %}
        </ul>
    </nav>
  </div><!-- /.navigation-wrapper -->

  <div class="group">
      <h1 class="page_header_1 animated fadeIn" itemprop="description">{{ page.page_header_1 }}</h1>
      <h1 class="page_header_2 animated fadeIn" itemprop="description">{{ page.page_header_2 }}</h1>
  </div>
</header>


{% include browser-upgrade.html %}

<div class="js-menu-screen menu-screen"></div>

